@{
    ViewBag.Title = "FileUpload";
    CV_Online.Repository.CVOContext db = new CV_Online.Repository.CVOContext();
}

<h2>FileUpload</h2>

@using (Html.BeginForm("FileUpload", "ImageFile", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
<div>
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        @*    @foreach (var item in db.PersonalInformations.Find(1))
            {*@
                <tr>
                    @{
                        var Photo = db.PersonalInformations.Find(1).Photo;
                        if (Photo == string.Empty)
                        {
                            Photo = "No_Images.jpg";
                        }
                    <td><img src="~/images/@db.PersonalInformations.Find(1).Photo" width="100" height="100" /></td>
                    }
                </tr>
        @*    }*@
        </tbody>
     </table>
<input type="file" name="file" id="file" style="width: 100%;" /> <br />
<input type="submit" value="Upload" class="submit" />
</div>    
}