@model CV_Online.Models.MaritalStatus

@{
    ViewBag.Title = "Details";
}

<h2>Marital Status Details</h2>

<fieldset>
    <legend>MaritalStatus</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
